@* @using PagedList.Mvc *@
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Du_An.Models.Product>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm" + CurrentPage;
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : page @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <form asp-area="Admin" asp-controller="AdminProduct" asp-action="Index" method="get">
                        <div class="col-md-12">
                            <div class="input-affix m-v-10">
                                <button class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                                <input type="text" class="form-control" placeholder="Search Project" name="searchString">
                            </div>
                        </div>
                    </form>
                    @* <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <select id="catid" name="catid" class="custom-select" style="min-width: 250px;"
                                asp-items="ViewBag.DanhMuc">
                                <option value="" disabled selected>Chọn danh mục</option>
                                <option value="0" disabled selected>Chọn tất cả</option>
                            </select>
                        </div>
                    </div> *@
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminProduct" asp-action="Create"><i
                        class="anticon anticon-plus-circle m-r-5"></i>Thêm sản phẩm</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg"
                                    style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                                    </div>
                                </td>
                                <td>@item.Cat.CatName</td>
                                <td>@item.Price.Value.ToString("#,##0") VND</td>
                                <td>@item.UnitsInStock</td>
                                <td>
                                    @if (item.UnitsInStock.Value > 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In Stock</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Out Stock</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-controller="AdminProduct" asp-action="Details"
                                asp-route-id="@item.ProductId">Xem</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-controller="AdminProduct" asp-action="Edit"
                                asp-route-id="@item.ProductId">Sửa</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-controller="AdminProduct" asp-action="Delete"
                                asp-route-id="@item.ProductId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProduct"
                        asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@* @section Scripts{
    <script>
    $(document).ready(function() {
    jQuery("#txtCatID").change(function(){
    var catID = jQuery(this).children(":selected").attr("value");
    catID = parseFloat(catID);
    $('#txtCatID option').removeAttr('selected');
    $("txtCatID > [value="+catID + "]").attr("selected","true");
    $.ajax({
    url: '/Admin/AdminProduct/Filtter',
    dataType: "json",
    type: "GET",
    data: {
    CatID: catID
    },
    async: true,
    success: function(results){
    if(results.status == "success"){
    window.location.href = results.redirectUrl;
    }
    },
    error: function(xhr){
    alert('error');
    }
    });
    });
    });
    </script>
    } *@
@* @section Scripts{
    <script>
        $(document).ready(function(){
            $("#keywordabc").keyup(function() {
                var strkeyword= $('#keywordabc').val();
                $.ajax({
                    url:'/Admin/Search/FindProduct/',
                    datatype: 'json',
                    type: 'POST',
                    data: {keywordabc: strkeyword},
                    async: true,
                    success: function(results){
                        $('#records_table').html("");
                        $('#records_table').html(results);
                    },
                    error: function(xhr){
                        alert('error');
                    }
                });
            });
        });
    </script>
} *@