@model List<Product>

@if (Model != null && Model.Count() > 0)
{
    <div class="product-item-wrap row">
        @foreach (var item in Model)
        {
            string url = $"{item.Alias}-{item.ProductId}.html";
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img img-zoom-effect">
                        <a href="@url">
                            <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li class="add-to-cart">
                                    <a href="javascript:void(0);">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                    <input hidden asp-for="@item.ProductId" id="p">
                                </li>
                                <li>
                                    <a href="compare.html">
                                        <i class="pe-7s-shuffle"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="@url">@item.ProductName</a>
                        <div class="price-box pb-1">
                            <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                        </div>
                        <div class="rating-box">
                            <ul>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                                <li><i class="pe-7s-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function(){
            $(function(){
                $(".add-to-cart").click(function() {
                    var productid = $('#p').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: 1
                        },
                        success: function(response){
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function(erorr){
                            alert("absfkjbasfjkab: " + erorr.responseText);
                        }
                    })
                })
            })
            function loadHeaderCart(){
                $('miniCart').load("/AjaxContent/HeaderCart");
                $('numberCart').load("/AjaxContent/NumberCart");
            }
        })
    </script>
}