@model Du_An.ModelViews.HomeViewVM
@{
    ViewData["Title"] = "Harmic Shop";
    Layout= "_layout";
    List<Product> allProduct = ViewBag.AllProducts;
}
<!-- Main Header Area End Here -->

        <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="//cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1_ebbc0b25-442c-44a0-b8cb-7996a224e610.jpg?v=1621424307 " style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1_ebbc0b25-442c-44a0-b8cb-7996a224e610.jpg?v=1621424307&quot;);">
                            <div class="parallax-img-wrap">
                                <div class="chilly">
              <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                <div class="expand-width" data-depth="0.2" style="transform: translate3d(-4.6px, 2.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                  <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1-231x210.png?v=1621424242" class="img-fluid ls-is-cached lazyloaded" alt="">
                </div>
              </div>
            </div>
                                <div class="avocado">
              <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                <div class="expand-width" data-depth="0.5" style="transform: translate3d(-11.1px, 3.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                 <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/1-2-224x204.png?v=1621424280" class="img-fluid ls-is-cached lazyloaded" alt="">
                </div>
              </div>
            </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Sạch & An toàn</span>
                                        <h2 class="title mb-9">-60% tất cả các <br> Sản Phẩm.</h2>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                        </div>
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                  <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                    <div class="expand-width" data-depth="0.5" style="transform: translate3d(-16.2px, 2.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                      <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/2-1-601x426.png?v=1621424257" class="img-fluid ls-is-cached lazyloaded" alt="">

                    </div>
                  </div>
                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="//cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1_ebbc0b25-442c-44a0-b8cb-7996a224e610.jpg?v=1621424307 " style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1_ebbc0b25-442c-44a0-b8cb-7996a224e610.jpg?v=1621424307&quot;);">
                            <div class="parallax-img-wrap">
                                <div class="chilly">
              <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                <div class="expand-width" data-depth="0.2" style="transform: translate3d(-4.6px, 1.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                  <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/1-1-231x210.png?v=1621424242" class="img-fluid ls-is-cached lazyloaded" alt="">
                </div>
              </div>
            </div>
                                <div class="avocado">
              <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                <div class="expand-width" data-depth="0.5" style="transform: translate3d(-11px, 4.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                 <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/1-2-224x204.png?v=1621424280" class="img-fluid ls-is-cached lazyloaded" alt="">
                </div>
              </div>
            </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Sạch & An toàn</span>
                                        <h2 class="title mb-9">-60% tất cả các <br> Sản Phẩm.</h2>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                        </div>
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                  <div class="scene fill" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                    <div class="expand-width" data-depth="0.5" style="transform: translate3d(-17.1px, 8.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                      <img src=" //cdn.shopify.com/s/files/1/0011/9868/6266/files/1-3-601x534.png?v=1621424321" class="img-fluid ls-is-cached lazyloaded" alt="">

                    </div>
                  </div>
                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <!-- Slider Area End Here -->

        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Miễn phí giao hàng</h5>
                                    <p class="short-desc mb-0">Giao hàng tận nhà miễn phí</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Hỗ trợ trực tuyến</h5>
                                    <p class="short-desc mb-0">Hỗ trợ 24/7</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Thanh toán an toàn</h5>
                                    <p class="short-desc mb-0">Hệ thống thanh toán an toàn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Shipping Area End Here -->

        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                             <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                        <a id="fresh-fruits-tab" data-bs-toggle="tab" href="#all-items" role="tab" aria-controls="fresh-fruits" aria-selected="false">
                                            <div class="product-tab-icon">
                                                <img src="~/assets/images/product/icon/1.png" alt="Product Icon">
                                            </div>
                                            Tất cả sản phẩm
                                        </a>
                                    </li>
                                @foreach (var item in Model.Products)
                                {
                                    <li class="nav-item" role="presentation">
                                        <a id="fresh-fruits-tab" data-bs-toggle="tab" href="/@item.category.Alias" role="tab" aria-controls="fresh-fruits" aria-selected="false">
                                            <div class="product-tab-icon">
                                                <img src="~/assets/images/product/icon/2.png" alt="@item.category.Title">
                                            </div>
                                            @item.category.CatName
                                        </a>
                                    </li>
                                }
                            </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                                @await Html.PartialAsync("_ListProductPartialView", allProduct)

                            </div>
                            @foreach (var item in Model.Products)
                            {
                                <div class="tab-pane fade" id="@item.category.Alias" role="tabpanel" aria-labelledby="vegetable-tab">
                                    @await Html.PartialAsync("_ListProductPartialView", item.lsProducts)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->

        <!-- Banner Area End Here -->

        <!-- Begin Product Area -->
        <!-- Product Area End Here -->
        <!-- Banner Area End Here -->
        <!-- Product Area End Here -->

        <!-- Begin Blog Area -->
        <div class="blog-area section-space-y-axis-100">
            <div class="container">
                <div class="section-title text-center pb-55">
                    <span class="sub-title text-primary">Mời bạn đọc</span>
                    <h2 class="title mb-0">Blog mới nhất</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container blog-slider">
                            @if(Model != null){
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.TinTucs)
                                    {
                                        string url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                                        <div class="swiper-slide">
                                            <div class="blog-item">
                                                <div class="blog-img img-zoom-effect">
                                                    <a href="blog-detail-left-sidebar.html">
                                                        <img style="height: 500px;" class="img-full" src="~/images/tinDangs/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <div class="blog-meta text-dim-gray pb-3">
                                                        <ul>
                                                            <li class="date"><i class="fa fa-calendar-o me-2"></i>@item.CreatedDate</li>
                                                            <li>
                                                                <span class="comments me-3">
                                                                <a href="javascript:void(0)">2 Comments</a>
                                                            </span>
                                                                <span class="link-share">
                                                                <a href="javascript:void(0)">Share</a>
                                                            </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <h5 class="title mb-4">
                                                        <a href="@url">@item.Title</a>
                                                    </h5>
                                                    <p class="short-desc mb-5">@item.Scontents</p>
                                                    <div class="button-wrap">
                                                        <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="@url">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End Here -->

